﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<section class="content">
    <div class="container-fluid">

        <!-- content goes here -->
        <h5>Add a new menu</h5>
        <div class="row">
            <div class="col-md-9">
                <form id="myForm" onsubmit="SubmitForm()" method="post">
                                 
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="inputCity">Title</label>
                            <input type="text" id="title" name="Title" class="form-control">
                        </div>
                    </div>

                    <div id="myformRowDiv" class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Parameter</label>
                            <input type="text"  id="parameter" name="Parameter" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Input type</label>
                            <select name="InputType" id="inputType" class="form-control">
                                <option value="text">text</option>
                                <option value="numeric">numeric</option>
                                <option value="dropdown">dropdown</option>
                                <option value="file">file</option>
                            </select>
                        </div>
                    </div>
                   
                    <button type="submit" id="saveBtn" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" id="addBtn">Add new field</button>
            </div>
           
        </div>
       

    </div> <!-- end of div container-fluid -->
</section> <!-- end of main section -->
