﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<Connect.Core.Models.Menu>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<section class="content">
    <div class="container-fluid">

        <!-- content goes here -->
        <h5>Page</h5>
        <div class="row">
            
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Domain</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" action="" id="quickForm" novalidate="novalidate">
                        <div class="card-body">
                            @foreach (var item in Model)
                            {
                                @if (item.InputType == "text")
                                {
                                    <div class="form-group">
                                        <label>@item.Parameter</label>
                                        <input type="text" name="@item.Parameter" class="form-control" placeholder="Enter text value" aria-describedby="exampleInputEmail1-error" aria-invalid="true">

                                    </div>
                                }
                                @if (item.InputType == "numeric")
                                {
                                    <div class="form-group">
                                        <label>@item.Parameter</label>
                                        <input type="number" name="@item.Parameter" class="form-control" placeholder="Enter numeric value" aria-describedby="exampleInputEmail1-error" aria-invalid="true">

                                    </div>
                                }
                            }

                           

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    </div> <!-- end of div container-fluid -->
</section> <!-- end of main section -->
