﻿@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="">Breadcrumb</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </nav>
            </div>
            @if (ViewBag.Message != null)
            {
                string message = ViewBag.Message;
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @message
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">


                <div class="col-md-6 offset-md-3 ">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">Signup</h3>
                            <form asp-controller="Account" asp-action="Signup" method="post">
                                <div class="form-group">

                                    <input type="text" name="FirstName" class="form-control" placeholder="first name">
                                </div>
                                <div class="form-group">

                                    <input type="text" name="LastName" class="form-control" placeholder="last name">
                                </div>
                                <div class="form-group">

                                    <input type="email" name="Email" class="form-control" placeholder="email">
                                </div>
                                <div class="form-group">

                                    <input type="text" name="phoneNumber" class="form-control" placeholder="Phone">
                                </div>
                                <div class="form-group">

                                    <input type="password" name="password" class="form-control" placeholder="password">
                                </div>

                                <button type="submit" class="btn btn-primary mt-4">Register</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- site__body / end -->
